@{
    ViewData["Title"] = "ResetPassword";
}

<h1>Reset password</h1>



<form asp-action="ResetPassword" method="get">
    <label>Email del usuario:</label>
    <input type="string" name="email" class="form-control" />
    <button type="submit" class="btn btn-primary mt-2">Buscar</button>
</form>

<p>
    @ViewBag.msg
</p>

